@font-face {
  font-family: 'Cartoonfont';
  src: url(../fonts/KGInimitableOriginal.ttf);
}
@font-face {
  font-family: 'Thinfont';
  src: url(../fonts/CaviarDreams.ttf);
}
@font-face {
  font-family: 'urafont';
  src: url(../fonts/uzura.ttf);
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Thinfont', sans-serif;
}
* {
  font-family: 楷体, serif !important;
  text-decoration: none !important;
}
.el-menu-demo {
  display: flex;
  top: 0;
  padding: 0 2rem 0 0;
  transition: 1s all;
  position: relative;
  height: 59px;
  font-weight: bold;
  font-family: 楷体, serif;
}
.el-menu-demo :deep(.el-drawer__body) {
  padding: 0 !important;
}
.el-menu-demo .a_menu {
  padding: 0.1rem;
  width: 3rem;
  height: 2rem;
  justify-content: center;
  margin-top: 0.6rem;
  margin-left: 0.6rem;
}
.el-menu-demo .logo {
  justify-content: center;
  width: 60%;
  background: 0 !important;
}
.el-menu-demo .logo:hover {
  background: 0 !important;
}
.el-menu-demo .logo .img {
  width: 7rem;
  height: 3.5rem;
}
.el-menu-demo .block {
  width: 100%;
  text-align: right;
  line-height: 3px;
  padding-top: 0.6rem;
}
.el-menu-demo .block .hints {
  margin-right: 0.5rem;
  position: absolute;
  padding-top: 1.8rem;
  right: 5rem;
  top: 0;
  width: 14%;
}
.el-menu-demo .nav_font_ul {
  height: 70px;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}
.el-menu-demo .nav_font_ul li {
  height: 20px;
}
.el-menu-demo .nav_list {
  color: #0a0a0a;
  font-size: var(--big-text, 1rem);
  background: 0;
}
.el-menu-demo .nav_list:hover {
  background: 0;
  color: #da5c5c;
  text-shadow: 2px 1px 10px #ff6b6b;
  backdrop-filter: blur(40px);
}
@keyframes avatar_drop_down_list_animation {
  0% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(0%);
  }
}
.el-menu-demo .avatar_drop_down_list {
  transition: 1s all;
  animation-name: avatar_drop_down_list_animation;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  background: rgba(255, 255, 255, 0);
  width: 6rem;
  position: absolute;
  z-index: 99;
  right: 1.4rem;
  top: 0;
  padding-top: 3.2rem;
  border-radius: 0.5rem;
}
.el-menu-demo .avatar_drop_down_list .avatar_drop_down_list_container {
  background: white;
  border-radius: 0.5rem;
  width: 5.4rem;
  height: 8rem;
  text-align: left;
  padding: 1rem 0 0 0;
  font-size: 0.6rem;
}
.el-menu-demo .avatar_drop_down_list .avatar_drop_down_list_container a {
  text-decoration: none !important;
  color: #0a0a0a;
  font-size: 0.6rem;
}
.el-menu-demo .avatar_drop_down_list .avatar_drop_down_list_container .router-link-active {
  text-decoration: none !important;
  color: #0a0a0a;
  font-size: 0.6rem;
}
.el-menu-demo .avatar_drop_down_list .avatar_drop_down_list_container li {
  padding-left: 0.4rem;
  text-decoration: none;
  list-style: none;
  height: 1.5rem;
  border-bottom: 1px solid rgba(143, 143, 143, 0.2);
  cursor: pointer;
}
.el-menu-demo .avatar_drop_down_list .avatar_drop_down_list_container li .li_icon {
  position: relative;
  top: 0.2rem;
}
.el-menu-demo .avatar_drop_down_list .avatar_drop_down_list_container li:hover {
  background: rgba(141, 138, 138, 0.2);
  color: #ff6b6b;
}
@media screen and (max-width: 960px) {
  .el-menu-item {
    background-color: rgba(255, 255, 255, 0) !important;
  }
  .hints {
    margin-right: 0.5rem;
    position: absolute;
    padding-top: 1.8rem;
    right: 5rem;
    top: 0;
    width: 60%!important;
  }
  .el-menu-demo {
    background: #eeebeb;
    width: 100%;
  }
  .el-menu-demo .logo {
    display: none;
  }
  .el-menu-demo .nav_list {
    display: none;
  }
}
@media screen and (min-width: 960px) {
  .el-menu-item {
    background-color: rgba(255, 255, 255, 0) !important;
  }
  .el-menu-demo {
    position: fixed;
    z-index: 9999;
    border: 0;
    width: 100%;
    min-width: 1080px;
    justify-content: center;
  }
  .el-menu-demo .a_menu {
    display: none;
  }
}
/*# sourceMappingURL=PNavigation.css.map */