{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:vue/essential",
    "plugin:@typescript-eslint/recommended",
    // 新增这里vue3支持
    "plugin:vue/vue3-recommended",
    //    一定要放到最后，覆盖重载
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "parser": "@typescript-eslint/parser",
    "sourceType": "module"
    //    parser: ""@babel/eslint-parser""
  },
  "plugins": [
    "vue",
    "@typescript-eslint",
    "prettier"
  ],
  "rules": {
    // 不能空格与tab混用
    "no-mixed-spaces-and-tabs": "error",
    //    配置template需不需要根标签，vue3项目不需要跟标签
    "vue/no-multiple-template-root": "off",
    "no-console": "off",
    "no-debugger": "warn",
    "no-undef": "off",
    //    方法后面紧跟括号
    "space-before-function-paren": [
      "error",
      "never"
    ],
    //=======
    "prettier/prettier": "error",
    "vue/no-mutating-props": "off",
    "@typescript-eslint/no-explicit-any": ["off"],
    "vue/multi-word-component-names": "off",
    "no-mutating-props": "off",
    "vue/no-v-html": "off",
    "vue/no-setup-props-destructure": "off"
  }
}
