@import '../../assets/styles/globals.less';

:deep(.el-calendar){
  background: 0!important;
}
:deep(.el-calendar__header){

  height: 1rem !important;
  margin-top: -0.7rem!important;
  font-size: 1rem !important;
  padding: 0.5rem!important;
 .el-calendar__title{
   padding: 0 !important;
  }
  .el-button-group {
    margin-left: -0.1rem;
    .el-button {
      font-size: 0.5rem;
      padding: 0 !important;
    }
  }
}

 :deep(.el-calendar-table){
   thead{
     height: 1px !important;
     th{
       font-size: 0.5rem;
       height: 2rem !important;
       padding: 0 !important;
       background: #a29e9e;
     }
   }

 }
 :deep(.el-calendar-day){
   padding: 0 !important;
   height: 2.2rem !important;
 }


.home_mains{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: rebeccapurple;
  justify-content: center;
  text-align: center;
  .home_mains_one{
    flex:2;
    background: #38e89e;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .home_mains_two{
    flex:1;
    background: #9fe115;
    justify-content: center;
    text-align: center;
    //padding:0 2rem 0 2rem;
    //right
    .home_mains_two_right{
      //margin-left: 2rem;
      text-align: center;
      border-radius: 1rem;
      height: 22rem;
      width: 80%;
      background: #8cff00;
      margin-bottom: 2rem;
      margin-left: auto;
      margin-right: auto;
      transition: 0.6s all;
      //-webkit-transition: width 2s;
      p{
        text-align: left !important;
        width: 85%;
        margin-right: auto;
        margin-left: auto;
        padding: 0.7rem 0.7rem 0.4rem 0.7rem;
        font-size: 1.2rem;
        font-weight: bold;
        border-bottom: 2px solid red;
      }
      &:hover {
        cursor: pointer;
        margin-top: -0.6rem;
        box-shadow:@home_shadow;
      }
    }

  }
}
//公告
//.home_mains_two_announcement{
//p{
//  text-align: left !important;
//  width: 85%;
//  margin-right: auto;
//  margin-left: auto;
//  padding: 0.7rem 0.7rem 0.4rem 0.7rem;
//  font-size: 1.2rem;
//  font-weight: bold;
//  border-bottom: 2px solid red;
//}
//}
////标签
//.home_mains_two_label{
//  p{
//    text-align: left !important;
//    padding: 0.7rem;
//    font-size: 1.2rem;
//    font-weight: bold;
//  }
//}
////日历
//.home_mains_two_calendar{
//  p{
//    text-align: left !important;
//    padding: 0.7rem;
//    font-size: 1.2rem;
//    font-weight: bold;
//  }
//}
////评论
//.home_mains_two_comment{
//  p{
//    text-align: left !important;
//    padding: 0.7rem;
//    font-size: 1.2rem;
//    font-weight: bold;
//  }
//}







//适配
//大于
@media screen and (min-width: @screen_adaptation) {
}
//小于
@media screen and (max-width: @screen_adaptation) {
  .home_mains_one{
    flex:0 1 100% !important;
    background: red!important;
  }
  .home_mains_two{
    flex:0 1 100%  !important;
      .home_mains_two_right{
        //margin-left: 2rem;
        text-align: center;
        border-radius: 1.8rem;
        height: 8rem !important;
        width: 100% !important;
        background: #8cff00;
        margin-bottom: 1.5rem !important;
        margin-left: auto;
        margin-right: auto;
      }

  }
  }
