@import '../../assets/styles/globals.less';

.waterfall-list {
  background: 0 !important;
  //margin-right: auto;
  //margin-left: auto;
}

.waterfall_card {
  //background: #8ad9bb;
  //height: 30rem!important;
  cursor: pointer;
  margin-bottom: 0;
  transition: 1s all;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;

  &:hover {
    margin-top: -0.5rem;
    box-shadow: @home_shadow;
  }

}

.waterfall_card_bottom {
  padding: 0;
  //margin: 0;
  font-size: 0.5rem;
  font-family: @nav_font-family;

  .waterfall_container {
    height: 4rem;
    margin: 0;
    //line-height: 4rem;
    justify-content: center;
    display: flex;
    min-width: 2rem;

    .waterfall_container_left {
      flex: 2;
      line-height: 6rem;
      overflow: hidden;
      text-overflow: ellipsis;
      position: relative;

      img {
        height: 1.4rem;
        width: 1.4rem;
        border-radius: 50%;
        justify-content: center;
        position: absolute;
        left: 0.5rem;
        bottom: 0.55rem;

      }

      .water_name {
        width: 4rem;
        height: 2rem;
        position: relative;
        font-size: 0.7rem !important;
        //background:rgba(255,255,255,0.5);
        font-weight: bold;
        left: 2rem;
        bottom: 0.2rem;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        word-break: break-all; // 注意这个文字多行很重要
        -webkit-box-orient: vertical;

      }
    }

    .waterfall_container_right {
      flex: 2;
      position: relative;

      .water_date {
        //background: #d58c8c;
        display: block;
        height: 2rem;
        width: 4.5rem;
        position: absolute;
        right: 0.5rem;
        line-height: 2rem;
        font-size: 0.7rem;
        text-align: right;
        bottom: 0;
        padding-right: 0.5rem;
        font-weight: bold;
      }

      .water_category {
        background: @home_hr_color;
        display: block;
        height: 1.6rem;
        width: 3.8rem;
        font-size: 0.6rem !important;
        position: absolute;
        right: 0.5rem;
        line-height: 1.6rem;
        top: 0.2rem;
        padding: 0 0.3rem 0 0.3rem;
        border-radius: 0.5rem;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        word-break: break-all; // 注意这个文字多行很重要
        -webkit-box-orient: vertical;
        color: white;
        transition: 1s all;

        &:hover {
          background: #409eff;
          box-shadow: @home_shadow;
        }

      }
    }
  }
}

//============================

.big_img {
  @big_img_bg: rgba(112, 112, 112, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(26, 26, 26, 0.75);
  //background: #67686c;
  justify-content: center;
  display: flex;
  transition: 1s all ease;

  .big_img_container {
    background: red;
    //width: 60%;
    //height: 65%;
    //保留比例
    object-fit: contain;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    //position: absolute;
    //放大的照片
    transition: 0.3s all ease;
    .big_imgs {
      width: 100%;
      height: 100%;
    }
  }

  .big_img_close {
    background: @big_img_bg;
    position: absolute;
    top: 3rem;
    right: 5rem;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    cursor: pointer;
z-index: 8;
    .big_img_close_icon {
      position: relative;
      top: 0.6rem;
    }
  }

  .big_img_left {
    position: absolute;
    left: 2rem;
    top: 46%;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background: @big_img_bg;
    cursor: pointer;
    z-index: 10;
    .big_img_left_icon {
      position: relative;
      top: 0.5rem;
    }
  }

  .big_img_right {
    position: absolute;
    right: 2rem;
    top: 46%;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background: @big_img_bg;
    cursor: pointer;
    z-index: 10;
    .big_img_right_icon {
      position: relative;
      top: 0.5rem;
    }
  }

  .big_img_nav {
    position: absolute;
    bottom: 5rem;
    background: @big_img_bg;
    height: 3rem;
    width: 15rem;
    border-radius: 1rem;
    line-height: 3rem;
    padding: 0.1rem;
    z-index: 20;

    span {
      display: inline-block;
      width: 23%;
      cursor: pointer;
      justify-content: center;
      //background: red;
      //text-align: center;
      padding-top: 0.3rem;
    }
  }
}

//适配
//小于
@media screen and (max-width: @screen_adaptation) {
  .big_img {
    .big_img_close {
      top: 3rem;
      right: 2.5rem;
    }
    .big_img_container:nth-child(2) {
      //height: 25%!important;
      //padding: 2rem!important;
    }
  }

}


