@font-face {
  font-family: 'Cartoonfont';
  src: url(../fonts/KGInimitableOriginal.ttf);
}
@font-face {
  font-family: 'Thinfont';
  src: url(../fonts/CaviarDreams.ttf);
}
@font-face {
  font-family: 'urafont';
  src: url(../fonts/uzura.ttf);
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Thinfont', sans-serif;
}
html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
}
* {
  font-family: 楷体, serif !important;
  text-decoration: none !important;
}
.comments_container__father {
  background: rgba(236, 241, 239, 0.4) !important;
  padding: 0.1rem;
  margin-top: 0.5rem;
}
.top_commentss_top {
  cursor: url(../images/Link.cur), auto;
}
.top_commentss_bottom {
  background: rgba(237, 241, 241, 0.6) !important;
  transition: 0.4s all;
}
.comments_container {
  padding: 0 0.2rem 0 0.2rem;
}
.comments_container .top_comments {
  background: 0;
  padding-top: 0.1rem;
}
.comments_container .top_comments .top_comments_one {
  height: 2.5rem;
  line-height: 1.4rem;
  text-align: left;
  padding: 0.2rem 0 0.01rem 1rem;
  border-bottom: 0.13rem dashed #d7ded8;
}
.comments_container .top_comments .top_comments_one img {
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 50%;
  float: left;
}
.comments_container .top_comments .top_comments_one .top_comments_name {
  display: block;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  word-break: break-all;
  -webkit-box-orient: vertical;
  font-size: 0.5rem;
  padding: 0 0.5rem 0 0.3rem;
  max-width: 9rem;
}
.comments_container .top_comments .top_comments_one .top_comments_date {
  display: block;
  float: left;
  font-size: 0.5rem;
}
.comments_container .top_comments .top_comments_content {
  display: block;
  text-align: left;
  padding: 0.4rem 1rem 0 2rem;
}
.comments_container .top_comments .top_comments_content .reply_textarea {
  padding: 0;
  transition: 0.5s all;
}
.comments_container .top_comments .top_comments_content .reply_textarea :deep(.el-textarea__inner) {
  background: 0;
}
.comments_container .top_comments .top_comments_content .reply_textarea :deep(.el-input) {
  border-radius: 1rem;
  margin-top: 1rem;
  width: 44%;
  margin-right: 0.5rem;
  flex: 1;
}
.comments_container .top_comments .top_comments_content .reply_textarea :deep(.el-input) .el-input__wrapper {
  background: 0;
}
.comments_container .top_comments .top_comments_content .reply_textarea :deep(.el-input) .el-input__inner {
  background: 0;
}
.comments_container .top_comments .top_comments_content .reply_button {
  text-align: right;
  padding: 0.2rem 0 0.5rem 1rem;
}
.comments_container .top_comments .top_comments_content .top_comments_reply {
  text-align: right;
  padding: 0.8rem 1rem 0.5rem 1rem;
  width: 5rem;
  margin-right: 0!important;
  margin-left: auto!important;
  cursor: url(../images/Link.cur), auto;
  color: #858585;
}
.comments_container .top_comments .top_comments_content .top_comments_reply:hover {
  color: #ff6b6b;
}
@media screen and (max-width: 960px) {
  .top_comments_one {
    padding: 0.5rem 0 0.2rem 1rem !important;
  }
}
/*# sourceMappingURL=SecondaryCommentsMessage.css.map */