@import '../assets/styles/globals.less';
//容器
//小于
@media screen and(max-width: @screen_adaptation) {
  .main_theme {
    background: #d2de6d;
    //justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 92%;
    height: 800px;
  }
}
//pc
//大于
@media screen and(min-width: @screen_adaptation) {
  .main_theme {
    background: #cc7272;
    //justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 78%;
    height: 1800px;
    padding: 0;
  }
}
