// 自定义字体
@font-face {
  font-family: 'Cartoonfont';
  src: url(../fonts/KGInimitableOriginal.ttf);
}

@font-face {
  font-family: 'Thinfont';
  src: url(../fonts/CaviarDreams.ttf);
}

@font-face {
  font-family: 'urafont';
  src: url(../fonts/uzura.ttf);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'urafont', sans-serif;
}


//全局配置

//屏幕适配
@screen_adaptation: 980px;

* {
  //全局字体
  font-family: @nav_font-family !important;
  text-decoration: none !important;
}

//导航区域
@nav_background: 0;
@nav_hover: red;
@nav_font_size: var(--big-text, 1rem);
@nav_font_color: #0a0a0a;
@nav_text-shadow: 2px 1px 10px rgb(109, 207, 253, 0.6);
@box-shadow: #dee1e1 10px 10px 50px;
@nav_font-family: 楷体, serif;


//页面容器宽度
@container_width: 75%;

//主页
//鼠标经过阴影
@home_shadow: 0.5rem 0.5rem 2rem rgba(222, 222, 232, 0.2);
@home_card_bg: #ffffff;
@home_hr_color: #00c2fd;

//全局背景
@globals_background: rgba(65, 65, 65, 0.3);
