// 自定义字体
@font-face {
  font-family: 'jian';
  src: url(../fonts/jian2.ttf);
}

body {
  margin: 0;
  padding: 0;
  font-family: jian, sans-serif;
}
html,body{
  width: 100%;
  padding: 0;
  margin: 0;
}

//鼠标
@cursor_head: url(../images/Link.cur),auto;
//全局配置

//屏幕适配
@screen_adaptation: 960px;

* {
  //全局字体
  font-family: @nav_font-family !important;
  text-decoration: none !important;
}

//导航区域
@nav_background: 0;
@nav_hover: red;
@nav_font_size: var(--big-text, 1rem);
@nav_font_color: #0a0a0a;
//@nav_text-shadow: 2px 1px 10px rgb(255, 107, 107);
@nav_text-shadow: 2px 1px 10px rgb(255, 107, 107);
@box-shadow: #dee1e1 10px 10px 50px;
@nav_font-family: jian, serif;


//页面容器宽度
@container_width: 75%;

//主页
//鼠标经过阴影
@home_shadow: 0.5rem 0.5rem 2rem rgba(222, 222, 232, 0.2);
//@home_card_bg: #ffffff;
@home_card_bg: rgba(255,255,255,0.85);
//@home_hr_color: #00c2fd;
//@home_hr_color: #ff6b6b;
@home_hr_color: #53a8ee;

//全局背景
@globals_background: rgba(255,255,255,0.7);
//@globals_background: linear-gradient(220deg, rgb(194, 205, 213,0.8), rgb(238, 242, 243,0.4));
