@import '../../assets/styles/globals.less';

//标签
.home_labels{
  margin-bottom: 0.3rem!important;
  margin-right: 0.4rem;
  transition: 0.6s all;
  //-webkit-transition: width 2s;
  //padding: 0.3rem;
  font-family: @nav_font-family;
  font-weight: bold;
  font-size: 1.3rem;
  &:hover {
    cursor: @cursor_head;
    margin-top: -0.8rem;
    box-shadow:@home_shadow;
    color:#00c2fd;
  }
}
