@font-face {
  font-family: 'jian';
  src: url(../fonts/jian2.ttf);
}
body {
  margin: 0;
  padding: 0;
  font-family: jian, sans-serif;
}
html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
}
* {
  font-family: jian, serif !important;
  text-decoration: none !important;
}
.dialogVisiblestylefather :deep(.el-overlay) .el-dialog {
  width: 40%!important;
}
.my_home_container {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
  border-radius: 1rem;
  padding-top: 1rem;
}
.my_home_container .my_home_top {
  padding: 0.5rem 0;
  margin: 1rem 1rem 0.2rem 1rem;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
}
.my_home_container .my_home_top .my_home_left {
  flex: 1 1 10rem;
  text-align: center;
}
.my_home_container .my_home_top .my_home_left .my_home_left_update {
  position: absolute;
  z-index: 99;
  background: rgba(114, 114, 114, 0.4);
  cursor: url(../images/Link.cur), auto;
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  line-height: 8rem;
}
.my_home_container .my_home_top .my_home_left .my_home_left_update .update_img_button {
  background: 0!important;
  border: 0!important;
  height: 7rem;
  border-radius: 50%;
}
.my_home_container .my_home_top .my_home_left .my_home_left_update .update_img_button:hover {
  color: #00c2fd;
}
.my_home_container .my_home_top .my_home_left img {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
}
.my_home_container .my_home_top .my_home_right {
  flex: 1 1 25rem;
  text-align: left;
  align-self: center;
}
.my_home_container .my_home_top .my_home_right .my_home_icon {
  float: left;
  position: relative;
  top: 0.1rem;
  padding: 0 0.5rem 0 0;
}
.my_home_container .my_home_top .my_home_right h3 {
  padding: 0.5rem 1rem 0.5rem 0.8rem;
  margin: 0;
  font-size: 1.4rem;
}
.my_home_container .my_home_top .my_home_right span {
  display: block;
  margin: 0;
  padding: 0.2rem 1rem 0 0.5rem;
}
.my_home_container .my_home_top .my_home_right p {
  margin: 0;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
}
.my_home_container .my_home_el_tabs {
  padding: 1rem;
}
.my_home_container .my_home_el_tabs .demo-tabs {
  background: rgba(255, 255, 255, 0.85);
  border-radius: 1rem;
  padding: 1rem 1.5rem 10rem 0.5rem;
}
.my_home_container .my_home_el_tabs .demo-tabs .demo-tabs2 :deep(.el-tabs__content) {
  padding: 1rem 2rem 1rem 1rem;
}
.my_home_container .my_home_el_tabs .demo-tabs .user_info_form {
  padding: 1.5rem 2rem 1rem 0;
}
.my_home_container .my_home_el_tabs .demo-tabs .user_info_form :deep(.el-input__wrapper) {
  background: 0;
  border-radius: 0.5rem;
}
.my_home_container .my_home_el_tabs .demo-tabs .user_info_form :deep(.el-input__inner) {
  background: 0;
}
.my_home_container .my_home_el_tabs .demo-tabs .user_info_form :deep(.el-textarea__inner) {
  background: 0;
}
.my_home_container .my_home_el_tabs .demo-tabs .account_settings p {
  margin: 0;
  height: 2rem;
  line-height: 2rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-bottom: 1px dashed #53a8ee;
}
.my_home_container .my_home_el_tabs .demo-tabs .account_settings p span {
  float: left;
}
.my_home_container .my_home_el_tabs .demo-tabs .account_settings p .el-button {
  float: right;
}
:deep(.el-pagination) {
  text-align: center;
  width: 100%;
  justify-content: center;
  padding: 1rem 0;
}
:deep(.el-pagination) .is-active {
  background: #53a8ee !important;
}
@media screen and (max-width: 960px) {
  .my_home_container {
    margin-top: -2rem !important;
    padding-top: 0!important;
    width: 100%;
  }
  .my_home_container .my_home_top {
    padding: 0.5rem 0 !important;
    margin: 0 0 0.5rem 0 !important;
  }
  .my_home_container .my_home_el_tabs {
    padding: 0!important;
  }
  .my_home_container .my_home_el_tabs .demo-tabs2 :deep(.el-tabs__content) {
    padding: 0 0 0 1rem!important;
  }
  .dialogVisiblestylefather :deep(.el-overlay) .el-dialog {
    width: 85%!important;
  }
}
/*# sourceMappingURL=MyHome.css.map */